main {
    height: fit-content;
    width: 100%;
    max-width: 80ch;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
}

input, button, label, textarea {
    font: inherit;
}

input:default {
    border: none;
    outline: 2px solid deeppink;
}

form > * {
    width: 100%;
}

label {
    margin-top: 1em;
    margin-bottom: .25em;
} 

label[for=url] {
    margin-top: 0;
}

label[for=payload] {
    margin-bottom: 0;
}

#url {
    padding: .25em;
}

fieldset {
    margin-top: .5em;
    margin-bottom: .25em;
    padding: .25em;
}

textarea {
    height: 10lh;
}

button {
    margin-top: .5em;
    padding: .25em;
    border: none;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 2rem;
}
