body {
    /* background-color: rgb(26, 28, 32);
    color: rgb(236, 239, 242); */
}

button {
    /* color: inherit; */
    cursor: pointer;
}

input {
    /* background-color: inherit; */
}

table {
    text-align: left;
    border-spacing: 0;
}

tbody tr {
    cursor: pointer;
}

.active {
    background-color: rgb(184, 184, 184);
}

tbody tr:hover {
    background-color: rgb(215, 215, 215);
}

.error-msg {
    color: rgb(154, 15, 15);
}

.success-msg {
    color: green;
}

#create-check-btn {
    padding: 0;
    border-radius: 0;
}
