<!-- 
Because you are already using the web interface,
you may also want to visualize the checks JSON here
instead of switching to the terminal.
Btw, I created both this web interface and the REPL because 
the checks.json file is kept compact and is continuosly updated.
So, looking at it is neither handy nor useful, because you may want to look at
the state of a check at a certain point in time.
-->

<main id="checks-JSON">
    <a href="/">&#10550; back</a>
    <p id="feedback"></p>

    <pre>

    </pre>
</main>
