<main id="create-check" class="main-container">
    <a class="go-back-arrow" href="/">
        <img src="../assets/icons/back.svg" alt="Go Back"> back
    </a>
    <form action="/api/check" method="POST">
        
        <label for="url">url</label>
        <input id="url" type="text" name="url" placeholder="https://example.com">
        
        <fieldset>
            <legend>method</legend>
            <input type="radio" name="method" value="GET" id="GET" checked>
            <label for="GET">GET</label>
            <br>
            <input type="radio" name="method" value="POST" id="POST">
            <label for="POST">POST</label>
            <br>
            <input type="radio" name="method" value="PUT" id="PUT">
            <label for="PUT">PUT</label>
            <br>
            <input type="radio" name="method" value="DELETE" id="DELETE">
            <label for="DELETE">DELETE</label>
        </fieldset>

        <label for="payload">Payload</label>
        <fieldset>
            <legend>format</legend>
            <input type="radio" name="format" value="text/plain" id="text-plain">
            <label for="text-plain">text/plain</label>
            <br>
            <input type="radio" name="format" value="json" id="json">
            <label for="json">JSON</label>
        </fieldset>
        <textarea name="payload" id="payload"></textarea>
        
        <button class="button-style enabled" type="submit">create check</button>
    </form>
    <p id="feedback"></p>
</main>
