<main id="dashboard">
    <table>
        <thead>
            <tr>
                <th>url</th>
                <th>method</th>
                <th>status-code</th>
                <th>delta-time</th>
                <th>err-code</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    <ul>
        <li>
            <a href="checks-JSON">view checks JSON</a>
        </li>
        <li>
            <a id="create-check-link" href="check/create">create check</a>
        </li>
        <li>
            <!-- The link is automatically inserted by the script. -->
            <a id="edit-check-link" href="#">edit check</a>
        </li>
        <li>
            <button id="delete-check-btn" disabled>delete check</button>
        </li>
    </ul>

    <!-- <button id="create-check-btn">
    </button>
    <button id="edit-check-btn" disabled>
    </button> -->

    <p id="feedback"></p>

</main>

<template id="check-row">
    <tr>
        <td class="data-cell url"></td>
        <td class="data-cell method"></td>
        <td class="data-cell status_code"></td>
        <td class="data-cell delta_time"></td>
        <td class="data-cell err_code"></td>
    </tr>
</template>
