<!-- The id is used by the frontend router. See assets/_universal.js -->
<main id="dashboard" class="main-container">
    <table>
        <thead>
            <tr>
                <th id="url-th">url</th>
                <th>method</th>
                <th>status-code</th>
                <th>delta-time</th>
                <th>err-code</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    <div id="no-checks-display">
        <img src="../assets/icons/empty.svg" alt="Empty, no checks">
        <p>
            No Checks
        </p>
    </div>

    <p id="feedback"></p>

    <ul id="dashboard-buttons">
        <li>
            <a class="button-style enabled" href="checks-JSON">
                <img src="../assets/icons/json.svg" alt="View checks JSON">
            </a>
        </li>
        <li>
            <a class="button-style enabled" id="create-check-link" href="check/create">
                <img src="../assets/icons/add-row.svg" alt="Create check">
            </a>
        </li>
        <li>
            <!-- The link is automatically inserted by the script. -->
            <a class="button-style" aria-disabled="true" id="edit-check-link" href="#">
                <img src="../assets/icons/edit.svg" alt="Edit check">
            </a>
        </li>
        <li>
            <button id="delete-check-btn" class="button-style" aria-disabled="true">
                <img src="../assets/icons/trash.svg" alt="Delete check">
            </button>
        </li>
    </ul>
</main>

<template id="check-row">
    <tr>
        <td class="data-cell url"></td>
        <td class="data-cell method"></td>
        <td class="data-cell status_code"></td>
        <td class="data-cell delta_time"></td>
        <td class="data-cell err_code"></td>
    </tr>
</template>
